* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}


.navbar{
    padding: 20px 600px;
    box-shadow: 10px 10px 10px gray;
}

.barradesordenada{
    display: flex;
    justify-content: space-between;
}

.barraordenada{
    display: flex;
    text-decoration: none;
    text-align: center;
}


.cadaboton{
    text-decoration: none;
    color: black;
    transition: 0.2s;
    font-family: "Fredoka", sans-serif;
}

.cadaboton:hover{
    color: #e84a5f;
    transition: 0.2s;
}

.videoyoutube{
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

.textodelvideo{
    padding: 30px 20px;
}

.parrafo1textodelvideo{
    text-align: center;
}

.integrantes1{
    padding-top: 80px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.estudiante1{
    text-align: center;
}

.integrantes2{
    padding-top: 80px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.estudiante2{
    text-align: center;
}

.integrantes3{
    padding-top: 80px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.estudiante3{
    text-align: center;
}

.futer{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.piefoto{
    max-width: 100px;
    max-height: 100px;

}

.cuerpocarnival{
    background-color: red;
    padding: 40px 200px;
    text-align: center;
}

.textos{
    text-align: center;
}

